<section class="bg-gray-50 light:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 ">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Generate api key
                </h1>
                <div class="space-y-4 md:space-y-6">
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 ">Api key
                            </label>
                        <input type="text" [(ngModel)]="apiKey" disabled 
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500">
                    </div>
                    <div>
                        <input *ngIf="!apiKey" type="checkbox" [(ngModel)]="limitedFlag"  class="form-checkbox h-5 w-5 text-gray-600"><span *ngIf="!apiKey" class="ml-2 text-gray-700">Limited</span>
                        <div *ngIf="limitedFlag">
                        <label class="block mb-2 text-sm font-medium text-gray-900 ">Duration in hours
                        </label>
                        <input [(ngModel)]="apiKeyDto.timeLimit" type="number"   
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block  p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500">
                        
                        </div>
                        <div *ngIf="apiKey">Save this api key somewhere</div>
                        </div>
                    
                   
                    <button
                        (click)="generateApiKey()"
                        class="w-full bg-blue-500 disabled:bg-gray-400 content-center hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
                        Generate
                    </button>
                </div>
                
